<%- if params[:name] -%>
  Personalized business cards for <%= params[:name] -%>
<%- end -%>
<div>
  <pre class="card">
    <%- 5.times do -%>
<%= @horizontal_divider -%>
      <%- @card.each do |line| -%>
|<%= ([line] * 2).join('|').html_safe %>|
      <%- end -%>
    <%- end -%>
<%= @horizontal_divider -%>
  </pre>
</div>
