<div>
  <pre class="card">
    <%- 5.times do -%>
+<%= @horizontal_divider %>+
      <%- @card.each do |line| -%>
|<%= ([line] * 2).join('|') %>|
      <%- end -%>
|<%= @tagline %>|
    <%- end -%>
+<%= @horizontal_divider %>+
  </pre>
</div>
