Personalized business cards for <%= params[:name] -%>
<%- 5.times do -%>
  <div>
    <%- 2.times do -%>
      <span class="card">
        <%= @card -%>
      </span>
    <%- end -%>
  </div>
<%- end -%>
