<div>
  <pre class="card">
    <%- CARD_ROWS.times do -%>
+<%= @horizontal_divider %>+
      <%- @card.each do |line| -%>
|<%= line %>|
      <%- end -%>
|<%= @tagline %>|
    <%- end -%>
+<%= @horizontal_divider %>+
  </pre>
</div>
