<div class="form_wrapper">
  <form action="/cards" method="get">
    <textarea cols="40" rows="9" name="card" class="card">


Rails J. Hacker
railsjhacker@gmail.com
github.com/railsjhacker
github.com/railsjhacker/coolproject


    </textarea><br />
    <input type="submit" value="Create Business Card &raquo;" />
  </form>
</div>
