<div class="form_wrapper">
  <form action="/cards" method="get">
    <textarea cols="40" rows="7" name="card" class="card">



<%= "If nothing else, your name here".center(40) %>



    </textarea><br />
    <input type="submit" value="Create Business Card &raquo;" />
  </form>
</div>
