// Place all the styles related to the Default controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: Monaco;
  src: url(monaco.ttf) format("truetype");
}
.card {
  font-family: Monaco;
}
textarea.card {
  font-size: 24px;
}
form input[type='submit'] {
  float: right;
}
.form_wrapper {
  width: 585px;
}
